<meta charset="utf-8" />

<div class="container">
    <h2>Registrerte observasjoner</h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster observasjoner.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UFO</th>
                        <th>Tidsstempel</th>
                        <th>Kommune</th>
                        <th>Beskrivelse</th>
                        <th>Observatør</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let observasjon of alleObservasjoner">
                    <tr>
                        <td>{{observasjon.id}}</td>
                        <td>{{observasjon.kallenavnUFO}}</td>
                        <td>{{observasjon.tidspunktObservert}}</td>
                        <td>{{observasjon.kommuneObservert}}</td>
                        <td>{{observasjon.beskrivelseAvObservasjon}}</td>
                        <td>{{observasjon.fornavnObservator}} {{observasjon.etternavnObservator}}</td>

                        <td><button class="btn btn-danger" (click)="slettObservasjon(observasjon.id)">Slett</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/endre-observasjon',observasjon.id]">Endre</button></td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-primary' routerLink="/lagre-observasjon">Registrer observasjon</button>
            <div id="feil" style="color:red"></div>
            <br />
        </div>
    </div>
</div>