<div class="container">
    <h2>   Registrerte observasjoner </h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster observasjoner.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>UFO</th>
                        <th>Tidsstempel</th>
                        <th>Kommune</th>
                        <th>Beskrivelse</th>
                        <th>Observatør</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let observajon of alleObservasjoner">
                    <tr>
                        <td>{{observajon.id}}</td>
                        <td>{{observajon.kallenavnUFO}}</td>
                        <td>{{observajon.tidspunktObservert}}</td>
                        <td>{{observajon.kommuneObservert}}</td>
                        <td>{{observajon.beskrivelseAvObservasjon}}</td>
                        <!-- <td><button class="btn btn-danger" (click)="sletteKunde(kunde.id)">Slett</button></td>
    <td><button class="btn btn-success" [routerLink]="['/endre',kunde.id]">Endre</button></td>-->
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-primary' routerLink="/lagre">Registrer observasjon</button>
        </div>
    </div>
</div>