<div class="container">
    <h2>Registrer ny observasjon</h2>
    <div class="col-md-4">
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
            <!-- Bortsett fra linjen under og knappene på slutten, identisk med lagre-skjemaet-->
            <input class="form-control" formControlName="id" type="hidden" />
            <div class="form-group">
                <label>Navn UFO</label>
                <input class="form-control" formControlName="kallenavnUFO" />
                <p class="alert alert-warning" [hidden]="skjema.controls.kallenavnUFO.valid || (skjema.controls.kallenavnUFO.pristine && !submitted)">
                    UFO-navn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Tidspunkt for observasjon</label>
                <input (change)="sjekkDato()" type="datetime-local" class="form-control" formControlName="tidspunktObservert" />
                <span class="alert alert-warning" [hidden]="skjema.controls.tidspunktObservert.valid || (skjema.controls.tidspunktObservert.pristine && !submitted)">
                </span>
                <p class="alert alert-warning" [hidden]="!visDatoFeil">
                    Dato kan ikke være i fremtiden.
                </p>
            </div>
            <div class="form-group">
                <label>Kommune hvor UFOen ble observert</label>
                <input class="form-control" formControlName="kommuneObservert" />
                <p class="alert alert-warning" [hidden]="skjema.controls.kommuneObservert.valid || (skjema.controls.kommuneObservert.pristine && !submitted)">
                    Kommune er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Beskrivelse av observasjonen</label>
                <input class="form-control" formControlName="beskrivelseAvObservasjon" />
                <p class="alert alert-warning" [hidden]="skjema.controls.beskrivelseAvObservasjon.valid || (skjema.controls.beskrivelseAvObservasjon.pristine && !submitted)">
                    Beskrivelsen er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>UFO-modell</label>
                <input class="form-control" formControlName="modell" />
                <p class="alert alert-warning" [hidden]="skjema.controls.modell.valid || (skjema.controls.modell.pristine && !submitted)">
                    Modell er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Fornavn observator</label>
                <input class="form-control" formControlName="fornavnObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.fornavnObservator.valid || (skjema.controls.fornavnObservator.pristine && !submitted)">
                    Fornavn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Etternavn observator</label>
                <input class="form-control" formControlName="etternavnObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.etternavnObservator.valid || (skjema.controls.etternavnObservator.pristine && !submitted)">
                    Etternavn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Telefon observator</label>
                <input class="form-control" formControlName="telefonObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.telefonObservator.valid || (skjema.controls.telefonObservator.pristine && !submitted)">
                    Telefonnummer er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>E-post observator</label>
                <input class="form-control" formControlName="epostObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.epostObservator.valid || (skjema.controls.epostObservator.pristine && !submitted)">
                    E-post er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" routerLink="/registrerte-observasjoner">Tilbake</button>
            </div>
        </form>
    </div>
</div>

