<meta charset="utf-8" />
<div class="container">
    <div>
        <div class="col-md-12">
            <br /><br /><br />
            <h2>Registrerte UFOer</h2>
            <div *ngIf="laster">Laster observasjoner.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UFO</th>
                        <th>Modell</th>
                        <th>Antall observasjoner</th>
                        <th>Sist observert</th>
                    </tr>
                </thead>
                <tbody *ngFor="let UFO of alleUFOer">
                    <tr>
                        <td>{{UFO.id}}</td>
                        <td>{{UFO.kallenavn}}</td>
                        <td>{{UFO.modell}}</td>
                        <td>{{UFO.gangerObservert}}</td>
                        <td>{{UFO.sistObservert}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="feil" style="color:red"></div>
    <br />
</div>