<div class="container">
    <div class="col-md-4">
        <br /><br /><br />
        <h2>Registrer ny observasjon</h2>
        <br />
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">

            <div class="form-group">
                <label>Velg en observert UFO</label> <br />
                <!-- henter UFO-kallenavn til dropdown-->
                <select [(ngModel)]="kallenavn" id="velgkallenavn" (change)="velgSettUFO($event)">
                    <option value="Ny UFO" selected>Ny UFO</option>
                    <option *ngFor="let UFO of alleUFOer" [value]="UFO.kallenavn">
                        {{UFO.kallenavn}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Eller skriv inn navn på ny UFO</label>
                <input class="form-control" formControlName="kallenavnUFO" />
                <p class="alert alert-warning" [hidden]="skjema.controls.kallenavnUFO.valid || (skjema.controls.kallenavnUFO.pristine && !submitted)">
                    UFO-navn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>UFO-modell</label>
                <input class="form-control" formControlName="modell" />
                <p class="alert alert-warning" [hidden]="skjema.controls.modell.valid || (skjema.controls.modell.pristine && !submitted)">
                    Modell er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>

            <div class="form-group">
                <label>Tidspunkt for observasjon</label>
                <input (change)="sjekkDato()" type="datetime-local" class="form-control" formControlName="tidspunktObservert" />
                <p class="alert alert-warning" [hidden]="skjema.controls.tidspunktObservert.valid || (skjema.controls.tidspunktObservert.pristine && !submitted)">
                    Dato må være valgt.
                </p>
                <p class="alert alert-warning" [hidden]="!visDatoFeil">
                    Dato kan ikke være i fremtiden.
                </p>
            </div>
            <div class="form-group">
                <label>Kommune hvor UFOen ble observert</label>
                <input class="form-control" formControlName="kommuneObservert" />
                <p class="alert alert-warning" [hidden]="skjema.controls.kommuneObservert.valid || (skjema.controls.kommuneObservert.pristine && !submitted)">
                    Kommune er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Beskrivelse av observasjonen</label>
                <input class="form-control" formControlName="beskrivelseAvObservasjon" />
                <p class="alert alert-warning" [hidden]="skjema.controls.beskrivelseAvObservasjon.valid || (skjema.controls.beskrivelseAvObservasjon.pristine && !submitted)">
                    Beskrivelsen er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Fornavn observatør</label>
                <input class="form-control" formControlName="fornavnObservator" id="fornavn" [(ngModel)]="innFornavn" />
                <p class="alert alert-warning" [hidden]="skjema.controls.fornavnObservator.valid || (skjema.controls.fornavnObservator.pristine && !submitted)">
                    Fornavn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Etternavn observatør</label>
                <input class="form-control" formControlName="etternavnObservator" id="etternavn" [(ngModel)]="innEtternavn" (change)="onChangeEtternavn()" />
                <p class="alert alert-warning" [hidden]="skjema.controls.etternavnObservator.valid || (skjema.controls.etternavnObservator.pristine && !submitted)">
                    Etternavn er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <label>Telefon observatør</label>
                <input class="form-control" formControlName="telefonObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.telefonObservator.valid || (skjema.controls.telefonObservator.pristine && !submitted)">
                    Telefonnummer må være 8 siffer.
                </p>
            </div>
            <div class="form-group">
                <label>E-post observatør</label>
                <input class="form-control" formControlName="epostObservator" />
                <p class="alert alert-warning" [hidden]="skjema.controls.epostObservator.valid || (skjema.controls.epostObservator.pristine && !submitted)">
                    E-post er utenfor kravet om 2-30 bokstaver.
                </p>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
            </div>

        </form>
        <div id="feil" style="color:red"></div>
        <br />
    </div>
</div>

