<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">UFO registreringsnemnden</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/registrerte-observasjoner">Registrerte UFOer</a>
                <a class="nav-link active" aria-current="page" routerLink="/logg-inn">Logg inn</a>
                <a class="nav-link active" aria-current="page" routerLink="#">Logg ut</a>
            </div>
        </div>
    </div>
</nav>
